Repository rashidsuleymanov/api.onlyoffice.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, remark, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{cjs,cts,js,json,jsx,md,mjs,mts,ts,tsx,yaml,yml}"
      run: pnpm exec eslint "{staged_files}"
    remark:
      glob: "site/pages/**/*.md"
      run: pnpm exec remark --frail --quiet "{staged_files}"
    stylelint:
      glob: "*.css"
      run: pnpm exec stylelint --ignore-path .gitignore "{staged_files}"

docs api added the 6 and 7 status to changesurl parameter (61026fef300f2bab60e0be293afc3589da3a7b97)
  site/pages/Docs/Docs API/Usage API/Callback handler/index.md
Due: eslint, remark

do not use logical properties for the overflow properties
  packages/stylelint-config/lib/main.ts
Due: eslint

replace logical overflow properties with the old one
  packages/site-page/lib/main.css
  packages/ui-select/lib/main.css
Due: stylelint

Update CheckFileInfo
  site/pages/Docs/Docs API/Using WOPI/WOPI REST API/CheckFileInfo/index.md
Due: eslint, remark

Update index.md
  site/pages/Docs/Docs API/Using WOPI/WOPI REST API/CheckFileInfo/index.md
Due: eslint, remark

remove tryNew hint
  web/Content/styles.css
  web/Views/Shared/TryNew.ascx
Due: stylelint

added image scaling
  packages/site-part/lib/main.css
  packages/site-part/lib/main.story.tsx
  site/internal/icon.tsx
  site/internal/part.tsx
Due: eslint, stylelint

added JS SDK root url image
  site/assets/images/docspace/add-in-js-sdk-root-url.png
Due: none

added customization editors image
  site/assets/images/docspace/customization-of-editors.png
Due: none

added Specifying the DocSpace URL section
  site/pages/DocSpace/JavaScript SDK/Get Started/Basic concepts/index.md
Due: eslint, remark

added Logs in to the DocSpace account sample
  site/pages/DocSpace/JavaScript SDK/Get Started/How It Works/Authorization/index.md
Due: eslint, remark

added create file in selected folder sample
  site/pages/DocSpace/JavaScript SDK/Get Started/How It Works/Create file in selected folder/index.md
Due: eslint, remark

added customize editors samle
  site/pages/DocSpace/JavaScript SDK/Get Started/How It Works/Customize editors/index.md
Due: eslint, remark

added How It Works section in JS SDK
  site/pages/DocSpace/JavaScript SDK/Get Started/How It Works/index.md
Due: eslint, remark

added open file in editors sample
  site/pages/DocSpace/JavaScript SDK/Get Started/How It Works/Open file in ONLYOFFICE editors/index.md
Due: eslint, remark

added samples to index.md in How it Work section
  site/pages/DocSpace/JavaScript SDK/Get Started/How It Works/index.md
Due: eslint, remark

added office api samples
  site/pages/Docs/Office API/Office API/Builder samples/Adding watermark/index.md
  site/pages/Docs/Office API/Office API/Builder samples/Commenting spreadsheet errors/index.md
  site/pages/Docs/Office API/Office API/Builder samples/Creating advanced form/index.md
  site/pages/Docs/Office API/Office API/Builder samples/Creating basic form/index.md
  site/pages/Docs/Office API/Office API/Builder samples/Creating chart presentation/index.md
  site/pages/Docs/Office API/Office API/Builder samples/Creating formal document/index.md
  site/pages/Docs/Office API/Office API/Builder samples/Creating mail merge receptions/index.md
  site/pages/Docs/Office API/Office API/Builder samples/Creating presentation/index.md
  site/pages/Docs/Office API/Office API/Builder samples/Creating report document/index.md
  site/pages/Docs/Office API/Office API/Builder samples/Creating spreadsheet chart/index.md
  site/pages/Docs/Office API/Office API/Builder samples/Creating table document/index.md
  site/pages/Docs/Office API/Office API/Builder samples/Filling form/index.md
  site/pages/Docs/Office API/Office API/Builder samples/Filling spreadsheet/index.md
  site/pages/Docs/Office API/Office API/Builder samples/index.md
  site/pages/Docs/Office API/Office API/Form API/index.md
  site/pages/Docs/Office API/Office API/Presentation API/index.md
  site/pages/Docs/Office API/Office API/Spreadsheet API/index.md
  site/pages/Docs/Office API/Office API/Text Document API/index.md
Due: eslint, remark
