Repository rashidsuleymanov/api.onlyoffice.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, remark

eslint:
  run: pnpm exec eslint {staged_files}

remark:
  run: pnpm exec tsx remark.config.ts {staged_files}

add contributing note
  CONTRIBUTING.md
  eslint.config.js
Due: eslint, remark

configure remark lint rules
  .remarkrc.js
  CONTRIBUTING.md
  eslint.config.js
  lefthook.yml
  package.json
  packages/eslint-config/lib/main.ts
  packages/eslint-config/package.json
  packages/eslint-config/tsconfig.emit.json
  packages/remark-config/lib/main.ts
  packages/remark-config/package.json
  packages/remark-config/tsconfig.emit.json
  packages/remark-lint-eslint/lib/main.ts
  packages/remark-lint-eslint/package.json
  packages/remark-lint-eslint/tsconfig.emit.json
  packages/remark-lint-eslint/tsconfig.json
  pnpm-lock.yaml
  remark.config.ts
  tsconfig.emit.json
  tsconfig.json
Due: eslint, remark

update makefile
  makefile.ts
  package.json
Due: eslint

add step to build packages for the audit action
  .github/workflows/audit.yml
Due: eslint

remove remark-config from the site
  pnpm-lock.yaml
  site/internal/markdown.tsx
  site/package.json
Due: eslint

replace eslint-presentation with eslint-config
  packages/eslint-presentation/lib/eslint.config.js
  packages/eslint-presentation/lib/main.test.ts
  packages/eslint-presentation/lib/main.ts
  packages/eslint-presentation/package.json
  packages/eslint-presentation/tsconfig.json
  packages/jsdoc-declaration/lib/main.ts
  packages/jsdoc-declaration/package.json
  pnpm-lock.yaml
Due: eslint

temp
  package.json
  packages/stylelint-config/lib/main.ts
  packages/stylelint-config/package.json
  packages/stylelint-config/tsconfig.emit.json
  packages/stylelint-config/tsconfig.json
  pnpm-lock.yaml
  stylelint.config.js
Due: eslint

configure stylelint
  lefthook.yml
  package.json
  packages/stylelint-config/lib/main.ts
  packages/stylelint-config/package.json
  packages/stylelint-config/tsconfig.emit.json
  packages/stylelint-config/tsconfig.json
  pnpm-lock.yaml
  stylelint.config.js
Due: eslint

apply stlyleint rules
  packages/site-chapter/lib/main.css
  packages/site-document-editor-playground/lib/main.css
  packages/site-help/lib/main.css
  packages/site-home/lib/main.css
  packages/site-kit/lib/main.css
  packages/site-page/lib/main.css
  packages/site-part/lib/main.css
  packages/site-playground/lib/main.css
  packages/stylelint-config/lib/main.ts
  packages/ui-article-card/lib/main.css
  packages/ui-badge/lib/main.css
  packages/ui-base/lib/main.css
  packages/ui-button/lib/main.css
  packages/ui-code-editor/lib/main.css
  packages/ui-code-listing/lib/main.css
  packages/ui-code-preview/lib/main.css
  packages/ui-content/lib/main.css
  packages/ui-form-control/lib/main.css
  packages/ui-kit/lib/main.css
  packages/ui-primitives/lib/main.css
  packages/ui-select/lib/main.css
  packages/ui-sr-only/lib/main.css
  packages/ui-text-input/lib/main.css
  site/assets/font.css
  site/assets/main.css
  site/components/syntax-highlight/syntax-highlight.css
  site/components/tree/tree.css
  site/internal/global-navigation.css
  storybook/lib/preview.css
Due: eslint

enclose lefthook staged files in quotes to handle spaces in the file name
  lefthook.yml
Due: eslint

remove the shell-specific glob pattern for the esbuild command
  packages/eslint-config/package.json
  packages/remark-config/package.json
  packages/remark-lint-eslint/package.json
  packages/stylelint-config/package.json
Due: eslint

add stlyleint-config to the build targets
  makefile.ts
Due: eslint

add config parameters and add scenarios for playground
  site/config.yml
Due: eslint

add httpsnippet in service-declaration
  packages/service-declaration/lib/example.ts
  packages/service-declaration/package.json
  pnpm-lock.yaml
Due: eslint

support a new document builder format
  packages/document-builder-html-element/demo/index.html
  packages/document-builder-html-element/index.d.ts
  packages/document-builder-html-element/lib/define.ts
  packages/document-builder-html-element/lib/element.ts
  packages/document-builder-html-element/lib/events.ts
  packages/document-builder-html-element/lib/main.ts
  packages/document-builder-html-element/package.json
  packages/document-builder-html-element/tsconfig.json
  packages/document-builder-html-element/web-dev-server.config.mjs
  packages/document-builder-utils/lib/main.test.ts
  packages/document-builder-utils/lib/main.ts
  packages/document-builder-utils/package.json
  packages/document-server-utils/lib/main.ts
  packages/keyed-json/lib/main.test.ts
  packages/keyed-json/lib/main.ts
  packages/keyed-json/package.json
  packages/keyed-json/tsconfig.json
  packages/rehype-metastring/index.d.ts
  packages/rehype-metastring/lib/main.ts
  packages/rehype-metastring/package.json
  packages/rehype-metastring/tsconfig.json
  packages/remark-document-builder/lib/main.test.ts
  packages/remark-document-builder/lib/main.ts
  pnpm-lock.yaml
  site/assets/main.ts
  site/components/document-builder-container/hast.ts
  site/components/document-builder-container/rehype.ts
  site/internal/document-builder-container.ts
  site/internal/document-builder-container.tsx
  site/internal/markdown.tsx
  site/package.json
Due: eslint

remove preact-jsx-base and utility-types packages
  packages/document-editor-mirror-html-element/index.d.ts
  packages/document-editor-mirror-html-element/lib/main.ts
  packages/document-editor-mirror-html-element/package.json
  packages/preact-jsx-base/lib/main.ts
  packages/preact-jsx-base/package.json
  packages/preact-jsx-base/tsconfig.json
  packages/utility-types/lib/main.ts
  packages/utility-types/package.json
  packages/utility-types/tsconfig.json
  pnpm-lock.yaml
Due: eslint

move syntax-highlight from components to the internal directory
  site/assets/main.css
  site/components/syntax-highlight/syntax-highlight.ts
  site/internal/home.tsx
  site/internal/syntax-highlight.css
  site/internal/syntax-highlight.tsx
  site/layouts/library-declaration.tsx
  site/layouts/service-declaration.tsx
Due: eslint

exclude dead browsers from the list of browsers
  site/internal/style.tsx
  storybook/lib/main.tsx
Due: eslint

switch document-builder-resource branches from dist to release/v8.2.0
  packages/document-builder-resource/lib/main.ts
  site/pages/Docs/Office API/Office API/Presentation API/api.tsx
  site/pages/Docs/Office API/Office API/Spreadsheet API/api.tsx
  site/pages/Docs/Office API/Office API/Text Document API/api.tsx
  site/pages/Docs/Plugin and Macros/Usage API/Presentation API/api.tsx
  site/pages/Docs/Plugin and Macros/Usage API/Spreadsheet API/api.tsx
  site/pages/Docs/Plugin and Macros/Usage API/Text Document API/api.tsx
  site/resources/document-builder.ts
Due: eslint

fix the size of the chapter navigation and its behavior
  packages/site-chapter/lib/main.css
  packages/site-page/lib/main.css
Due: none

update stylelint rules
  packages/stylelint-config/lib/main.ts
Due: eslint

apply the latest stylelint rules
  packages/site-page/lib/main.css
  site/internal/global-navigation.css
Due: none

add rehype-clean package
  packages/rehype-clean/index.d.ts
  packages/rehype-clean/lib/main.ts
  packages/rehype-clean/package.json
  packages/rehype-clean/tsconfig.json
  pnpm-lock.yaml
  site/internal/markdown.tsx
  site/package.json
Due: eslint

return the found flag from the string-cutting functions
  packages/strings/lib/main.test.ts
  packages/strings/lib/main.ts
  site/generations/page.ts
  site/internal/image.tsx
  site/internal/link.tsx
Due: eslint

add postscript page
  pnpm-lock.yaml
  site/package.json
  site/pages/Postscript/index.tsx
  site/pages/Robots/index.tsx
Due: eslint

add body parameters
  packages/service-declaration/lib/example.ts
Due: eslint

editors: do not request name
  web/Views/Editors/InteractingOutside/Comments.ascx
  web/Views/Editors/InteractingOutside/FillingForm.ascx
  web/Views/Editors/InteractingOutside/ReviewWork.ascx
Due: none

enable eslint markdown rules
  packages/eslint-config/lib/main.ts
Due: eslint

update remark config
  packages/remark-config/lib/main.ts
  packages/remark-config/package.json
  pnpm-lock.yaml
Due: eslint

docspace: fix storybook link
  web/Views/DocSpace/Navigation.ascx
  web/Views/DocSpace/PluginsSdk/Changelog.ascx
  web/Views/DocSpace/PluginsSdk/PluginTutorial/Developing/ConfiguringInterfaceElements.ascx
Due: none

temp
  packages/openapi-declaration/lib/main.ts
  packages/openapi-resource-fixtures/fixtures/resource.yml
  packages/service-declaration/lib/main.ts
  packages/service-declaration/lib/main2.ts
Due: eslint

temp
  packages/openapi-declaration/lib/internal.test.ts
  packages/openapi-declaration/lib/internal.ts
  packages/openapi-declaration/lib/main2.ts
  packages/openapi-declaration/package.json
  packages/service-declaration/lib/main2 copy.ts
  packages/service-declaration/package.json
  pnpm-lock.yaml
Due: eslint

desktop: Fix the location of custom plugins on mac os.
  site/pages/Docs/Desktop Editors/Usage API/Adding plugins/index.md
Due: eslint, remark

plugins: Fix the location of custom plugins on mac os. (e360fd97703054c9effa8a25fc3b9fcbb0771b75)
  web/Views/Desktop/Plugins.aspx
  web/Views/Plugin/installation/desktop.ascx
Due: none

feat: create config with empty document url
  web/Controllers/EditorsController.cs
Due: none

docspace: removed the batch page from docspace (938f5c0b95c3f1837b1071b42f09adb44a334bf6)
  site/pages/DocSpace/API Backend/More Information/Batching/index.md
  site/pages/DocSpace/For Hosting Providers/More Information/Batching/index.md
Due: eslint, remark

Path conditions:
  eslint: any of: *.{cjs,cts,js,json,jsx,md,mjs,mts,ts,tsx,yaml,yml}
  remark: any of: *.md
